<!-- Embedded JavaScript -->
<!-- Embedded JavaScript -->
    <!--
                                    Code for ask expert modal. This would let users to ask questions to experts.
                               =======================================================================================
                                                                                                                      -->
<div class="modal fade in" id="careerAlertModal" tabindex="-1" style="z-index: 20">
    <div class="modal-dialog alert-success " style=" text-shadow: none">
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4>Your profile has been successfully submitted. We will contact you soon based on our requirements.</h4>
            </div>
    </div>
</div>


<div class="modal fade in" id="scheduleAlertModal" tabindex="-1" style="z-index: 20">
    <div class="modal-dialog alert-success " style=" text-shadow: none">
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4>Thank you for showing interest. We have registered your requirement.</h4>
            </div>
    </div>
</div>

<div class="modal fade in" id="askExpertModal" tabindex="-1" style="z-index: 20">
    <div class="modal-dialog alert-success " style=" text-shadow: none">
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4>Your question has been forwarded to our experts. Please expect a response a response in the next 24 hours.</h4>
            </div>
    </div>
</div>