<!-- Embedded JavaScript -->
    <!--
                                    Code for ask expert modal. This would let users to ask questions to experts.
                               =======================================================================================
                                                                                                                      -->
<div class="modal" id="qExpertModal" tabindex="-1" style="z-index: 20">
    <div class="modal-dialog" style="color: #000; text-shadow: none">
        <div class="modal-content">
            <form id="askexpertform" class="form-horizontal" action="/qExpert" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">EXPERT ADVICE</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <h4>
                           Are you suffering from chronic pain in the neck, back or having some other health issue?
                                 May be we can help. Ask our experts.<br>
                        </h4>
                        
                        <div class="form-group">
                            <label for="contact-name" class="control-label col-lg-2">Name:</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" name="qExpert[name]" id="contact-name" placeholder="Full Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="contact-email" class="control-label col-lg-2">Email:</label>
                            <div class="col-lg-10">
                                <input type="email" class="form-control" name="qExpert[email]" id="contact-email" placeholder="you@example.com">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="contact-msg" class="control-label col-lg-2">Question:</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" id="contact-msg" name="qExpert[question]" rows="8" placeholder="your question"></textarea>
                            </div>
                        </div>
                    </div>


                    <div class="modal-footer" style="margin: auto; ">
                        <button type="button" class="btn btn-default negative-action" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary positive-action">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>