<!-- Embedded JavaScript -->
                    <!--
                    Code for contact us modal. This would let users to contact us for queries.
               ======================================================================================
                                                                                                      -->
        <div class="modal fade" id="bookingModal" tabindex="-1" style="z-index: 20">
            <div class="modal-dialog" style="color: #000; text-shadow: none">
                <div class="modal-content">
                    <form id="bookingscheduleform" class="form-horizontal" action="/scheduleinfo" method="post">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">SESSION INFORMATION</h4>
                        </div>
                        <div class="modal-body">
                            <div>
                                <!--<h4>
                                Please confirm the booking of the following session.
                                </h4>-->
                                <div class="form-group">
                                    <label for="contact-name" class="control-label col-lg-3">Session selected:</label>
                                    <div class="col-lg-9">
                                        <label id="sessionDetails" class="control-label col-lg-9"></label>
                                        <input id="sessionTime" type="hidden" name="schedule[time]" value="" />
                                        <input id="sessionLocale" type="hidden" name="schedule[locale]" value="" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="contact-email" class="control-label col-lg-3">Email:</label>
                                    <div class="col-lg-9">
                                        <input type="email" class="form-control" name="schedule[email]" id="contact-email" placeholder="you@example.com">
                                    </div>
                                </div>
                            </div>


                            <div class="modal-footer" style="margin: auto; ">
                                <button type="button" class="btn btn-default" data-dismiss="modal">May be later</button>
                                <button type="submit" class="btn btn-primary">Book now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
