<!-- Embedded JavaScript -->
<!-- Embedded JavaScript -->
    <!--
                                            Code for contact us modal. This would let users to contact us for queries.
                                       ======================================================================================
                                                                                                                              -->
<div class="modal fade" id="careersModal" tabindex="-1" style="z-index: 20">
    <div class="modal-dialog" style="color: #000; text-shadow: none">
        <div class="modal-content">
            <form id="careersForm" class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">CAREERS</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <h4>
                           Do you wish to join us as an online practitioner? Let us know more about you!
                           
                        </h4>
                        <div class="form-group">
                            <label for="contact-name" class="control-label col-lg-2">Name:</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" name="careers[name]" id="contact-name" placeholder="Full Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="contact-email" class="control-label col-lg-2">Email:</label>
                            <div class="col-lg-10">
                                <input type="email" class="form-control" name="careers[email]" id="contact-email" placeholder="you@example.com" data-error="Please enter a valid email id" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contact-msg" class="control-label col-lg-2">Facebook Profile:</label>
                            <div class="col-lg-10">
                                <input type="url" class="form-control" name="careers[fblink]" id="careers-fblink" placeholder="https://www.facebook.com/fbId">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contact-msg" class="control-label col-lg-2">Twitter Profile:</label>
                            <div class="col-lg-10">
                                <input type="url" class="form-control" name="careers[twitterlink]" id="careers-twlink" placeholder="https://twitter.com/twitterhandle">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contact-msg" class="control-label col-lg-2">Linkedin Profile:</label>
                            <div class="col-lg-10">
                                <input type="url" class="form-control" name="careers[linkedinlink]" id="careers-linkedinlink" placeholder="http://in.linkedin.com/pub/yourid">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="contact-msg" class="control-label col-lg-2">Availability Timings:</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" id="contact-msg" name="careers[timing]" rows="8" placeholder="What time are you available for taking classes?"></textarea>
                                <input id="careerTimeZoneValue" type="hidden" name="careers[locale]" value="" />
                            </div>
                        </div>
                    </div>


                    <div class="modal-footer" style="margin: auto; ">
                        <button type="button" class="btn btn-default negative-action" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary positive-action" onclick="careerCheck()">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
        function careerCheck() {
            $('form').submit(function(event){
                event.preventDefault();
            });
            var form = document.getElementById('careersForm');
            if ($('#careersForm')[0].checkValidity()) {
                document.getElementById('careerTimeZoneValue').value = getTimeZone();
                var careers = $('#careersForm').serialize();
                var url = "/careers";
                jQuery(document).ready(function ($) {
                    $.post(url, careers).done(function (data) {
                        $('#careersModal').modal('hide');
                        $('body').on('hidden.bs.modal', '.modal', function (e) {
                            form.reset();
                        });
    
                        $('#careerAlertModal').modal('show');
                    });
                });
            } 
        }
</script>