<!-- Embedded JavaScript -->
                    <!--
                    Code for contact us modal. This would let users to contact us for queries.
               ======================================================================================
                                                                                                      -->
        <div class="modal fade" id="contactModal" tabindex="-1" style="z-index: 20">
            <div class="modal-dialog" style="color: #000; text-shadow: none">
                <div class="modal-content">
                    <form id="scheduleform" class="form-horizontal" action="/feedback" method="post">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">CONTACT US</h4>
                        </div>
                        <div class="modal-body">
                            <div>
                                <h4>
                            For any queries or issues that you have, feel free to contact us through the form below.
                                </h4>
                                <div class="form-group">
                                    <label for="contact-name" class="control-label col-lg-2">Name:</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" name="feedback[name]" id="contact-name" placeholder="Full Name">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="contact-email" class="control-label col-lg-2">Email:</label>
                                    <div class="col-lg-10">
                                        <input type="email" class="form-control" name="feedback[email]" id="contact-email" placeholder="you@example.com">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="contact-msg" class="control-label col-lg-2">Message:</label>
                                    <div class="col-lg-10">
                                        <textarea class="form-control" id="contact-msg" name="feedback[message]" rows="8" placeholder="your message"></textarea>
                                    </div>
                                </div>
                            </div>


                            <div class="modal-footer" style="margin: auto; ">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
