<!-- Embedded JavaScript -->
    <!-- Code for Schedule Information Modal to appear. Need to find another way to seggregate the code.
                                                                                                                                                                                                                                                                                    ===================================================================================
                                                                                                                                                                                                                                                                                    -->
<div class="modal fade" id="scheduleModal" tabindex="-1" style="z-index: 20">
    <div class="modal-dialog" style="color: #000; text-shadow: none">
        <div class="modal-content">
            <form action="/scheduleinfo" method="post" class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">SCHEDULE INFORMATION</h4>
                </div>
                <div class="modal-body">
                    <p style="text-align: left; font-size: 20px;"> Hey There,<br>
                           To request for a demo session at your convenient day and time provide the same below. </p>
                    <div class="form-group">
                        <div class="input-group input-group-lg col-lg-8" style="margin: auto; padding-top: 20px; padding-bottom: 10px;">
                            <input type="text" class="form-control" name="schedule[time]" placeholder="Monday, 10 am ">
                            <span id="timezoneid" class="input-group-addon"><script>document.write(getTimeZone())</script></span>
                            <input id="timeZoneValue" type="hidden" name="schedule[locale]" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg col-lg-6" style="margin: auto; padding-top: 10px; padding-bottom: 20px;">
                            <input type="email" class="form-control" name="schedule[email]" id="exampleInputEmail1" placeholder="Email id" 
                            data-error="Please enter a valid email id" required>

                        </div>
                    </div>



                    <div class="modal-footer" style="margin: auto; ">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">May be later</button>
                        <button type="submit" class="btn btn-primary positiveaction">Take my order</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>