<!-- Embedded JavaScript -->
<!-- Embedded JavaScript -->
<!-- Embedded JavaScript -->
    <!-- Code for Schedule Information Modal to appear. Need to find another way to seggregate the code.
                                                                                                                                                                                                                                                                                    ===================================================================================
                                                                                                                                                                                                                                                                                    -->
<div class="modal fade" id="subscriberModal" tabindex="-1" style="z-index: 20">
    <div class="modal-dialog" style="color: #000; text-shadow: none">
        <div class="modal-content">
            <form action="/subscribe" method="post" class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">SUBSCRIPTION FORM</h4>
                </div>
                <div class="modal-body">
                    <p style="text-align: left; font-size: 20px;"> Hey There,<br>
                           To get prior updates on our sessions and events please enter the information below. </p>
                     <div class="form-group">
                        <div class="input-group input-group-lg col-lg-6" style="margin: auto; padding-top: 10px; padding-bottom: 20px;">
                            <input type="email" class="form-control" name="subscribe[email]" id="inputemail" placeholder="Email id" data-error="Please enter a valid email id" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg col-lg-6" style="margin: auto; padding-top: 10px; padding-bottom: 20px;">
                            <input type="text" class="form-control" name="subscribe[name]" id="inputname" placeholder="Full Name" data-error="Please enter a correspondence name" required>
                        </div>
                    </div>
                    <div class="modal-footer" style="margin: auto; width: 100%;">
                        <button type="submit" class="btn btn-primary positive-action">SUBSCRIBE</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>