<!-- Embedded JavaScript -->
<div class="alert alert-danger fade in" style="width: 70%; margin: auto;" role="alert">
      <!--<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>-->
      <h4 style="font-size: 30px;">OFF TILL JANUARY 2, 2014</h4>
      <p style="font-size: 22px; text-align: left">Hey There,</p>
       <p style="font-size: 22px; text-align: center"> Merry Christmas and A Very Happy New Year 2015 !!</p><br>
       <p style="font-size: 22px; text-align: left">Owing to holidays, we are not providing any demo classes from 25th December 2014 to 2nd January 2015. 
          Having said that, we have a lot of special sessions lined up. In case you wish to know more about them then subscribe below.
      </p>
      <p>
        <button id="saturdaybook" type="button" data-toggle="modal" data-target="#subscriberModal" class="btn btn-success">SUBSCRIBE</button>
      </p>
    </div>