<!-- Embedded JavaScript -->
<div id="demotableid" class=" table-condensed demotabletype" >
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Weekdays</th>
            <th>Weekends</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
          <tr>
            <td>Table cell</td>
            <td>Table cell</td>
           
          </tr>
          <tr>
            <td>Table cell</td>
            <td>Table cell</td>
          
          </tr>
        </tbody>
      </table>
    </div>