<!-- Embedded JavaScript -->
<!--<div>
 
                <span class="">
                    <input type="radio" name="new-england-states" value="Saturday 7AM-8AM IST">
                  7AM-8AM IST Saturday 7 December 2014
                </span>
    </thead>
</div>-->
<table class="table tablecss schedule-info">

    <tbody>
    
    <tr>
        <td>Monday</td>
        <td class="time-cell">
            <div>
                <span class="">
                    <input type="radio" name="new-england-states" value="Monday 11AM-11:30AM IST">
                  11AM-11:30AM IST
                </span>
            </div>
        </td>
        <td class="time-cell">
            <div>
                <span>
                    <input type="radio" name="new-england-states" value="Monday 11:45AM-12:15PM IST">
                  11:45AM-12:15PM IST
                </span>
            </div>
        </td>
        <td class="time-cell">
            <div>
                <span>
                    <input name="new-england-states" type="radio" value="Monday 12:30PM-1:00PM IST">
                  12:30PM-1:00PM IST
                </span>
            </div>
        </td>
    </tr>
    <tr>
        <td>Tuesday</td>
        <td class="time-cell">
            <div>
                <span class="">
                    <input type="radio" name="new-england-states" value="Tuesday 11AM-11:30AM IST">
                  11AM-11:30AM IST
                </span>
            </div>
        </td>
        <td class="time-cell">
            <div>
                <span>
                    <input type="radio" name="new-england-states" value="Tuesday 11:45AM-12:15PM IST">
                  11:45AM-12:15PM IST
                </span>
            </div>
        </td>
        <td class="time-cell">
            <div>
                <span>
                    <input name="new-england-states" type="radio" value="Tuesday 12:30PM-1:00PM IST">
                  12:30PM-1:00PM IST
                </span>
            </div>
        </td>
    </tr>
    <tr>
        <td>Wednesday</td>
        <td class="time-cell">
            <div>
                <span class="">
                    <input type="radio" name="new-england-states" value="Wednesday 11AM-11:30AM IST">
                  11AM-11:30AM IST
                </span>
            </div>
        </td>
        <td class="time-cell">
            <div>
                <span>
                    <input type="radio" name="new-england-states" value="Wednesday 11:45AM-12:15PM IST">
                  11:45AM-12:15PM IST
                </span>
            </div>
        </td>
        <td class="time-cell">
            <div>
                <span>
                    <input name="new-england-states" type="radio" value="Wednesday 12:30PM-1:00PM IST">
                  12:30PM-1:00PM IST
                </span>
            </div>
        </td>
    </tr>
    <tr>
        <td>Thursday</td>
        <td class="time-cell">
            <div>
                <span class="">
                    <input type="radio" name="new-england-states" value="Thursday 11AM-11:30AM IST">
                  11AM-11:30AM IST
                </span>
            </div>
        </td>
        <td class="time-cell">
            <div>
                <span>
                    <input type="radio" name="new-england-states" value="Thursday 11:45AM-12:15PM IST">
                  11:45AM-12:15PM IST
                </span>
            </div>
        </td>
        <td class="time-cell">
            <div>
                <span>
                    <input name="new-england-states" type="radio" value="Thursday 12:30PM-1:00PM IST">
                  12:30PM-1:00PM IST
                </span>
            </div>
        </td>
    </tr>
    <tr>
        <td>Friday</td>
        <td class="time-cell">
            <div>
                <span class="">
                    <input type="radio" name="new-england-states" value="Friday 11AM-11:30AM IST">
                  11AM-11:30AM IST
                </span>
            </div>
        </td>
        <td class="time-cell">
            <div>
                <span>
                    <input type="radio" name="new-england-states" value="Friday 11:45AM-12:15PM IST">
                  11:45AM-12:15PM IST
                </span>
            </div>
        </td>
        <td class="time-cell">
            <div>
                <span>
                    <input name="new-england-states" type="radio" value="Friday 12:30PM-1:00PM IST">
                  12:30PM-1:00PM IST
                </span>
            </div>
        </td>
    </tr>
    <tr>
        <td>Saturday</td>
        <td class="time-cell">
            <div>
                <span class="">
                    <input type="radio" name="new-england-states" value="Saturday 11AM-11:30AM IST">
                  11AM-11:30AM IST
                </span>
            </div>
        </td>
        <td class="time-cell">
            <div>
                <span>
                    <input type="radio" name="new-england-states" value="Saturday 11:45AM-12:15PM IST">
                  11:45AM-12:15PM IST
                </span>
            </div>
        </td>
        <td class="time-cell">
            <div>
                <span>
                    <input name="new-england-states" type="radio" value="Saturday 12:30PM-1:00PM IST">
                  12:30PM-1:00PM IST
                </span>
            </div>
        </td>
    </tr>
    <tr>
        <td>Sunday</td>
        <td class="time-cell">
            <div>
                <span class="">
                    <input type="radio" name="new-england-states" value="Sunday 11AM-11:30AM IST">
                  11AM-11:30AM IST
                </span>
            </div>
        </td>
        <td class="time-cell">
            <div>
                <span>
                    <input type="radio" name="new-england-states" value="Sunday 11:45AM-12:15PM IST">
                  11:45AM-12:15PM IST
                </span>
            </div>
        </td>
        <td class="time-cell">
            <div>
                <span>
                    <input name="new-england-states" type="radio" value="Sunday 12:30PM-1:00PM IST">
                  12:30PM-1:00PM IST
                </span>
            </div>
        </td>
    </tr>
        </tbody>
</table>
<!--<button class="btn btn-default">BOOK NOW</button>-->
<div class="row" style="margin: auto; padding-bottom: 50px;">
     <button id="booknowbtn" type="button" class="btn btn-lg col-lg-3 disabled callexpert" data-toggle="modal" data-target="#bookingModal">
            BOOK NOW
    </button>
    <button id="callofaction2" type="button" class="btn btn-primary btn-lg col-lg-3" data-toggle="modal" data-target="#scheduleModal">
            SOME OTHER TIME
    </button>
</div>