<!-- Embedded JavaScript -->
<div class="expertprofile">
    <div class="row">
        <div class="col-md-11 clearfix">
            <div class="col-sm-6 col-md-3 col-md-offset-1">
                <div class="thumbnail">
                    <img data-src="holder.js/100%x200" alt="100%x200" src="experts/swapna.jpg" data-holder-rendered="true" style=" width: 100%; display: block;">
                    <div class="caption">
                        <h3>Swapna JK</h3>
                        <a href="https://www.facebook.com/swapna.jk?fref=ts">
                            <img title="Facebook" alt="Facebook" src="http://socialmediawidgets.files.wordpress.com/2014/03/02_facebook.png" 
                            style="padding-bottom: 10px; " width="35" height="35" />
                        </a>
                        <!--<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->
                        <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-md-offset-1">
                <div class="thumbnail">
                    <img data-src="holder.js/100%x200" alt="100%x200" src="experts/prameela.jpg" data-holder-rendered="true" style="width: 100%; display: block;">
                    <div class="caption">
                        <h3>Prameela Ratnam </h3>
                        <a href="https://www.facebook.com/prameela.ratnam?fref=ts">
                            <img title="Facebook" alt="Facebook" src="http://socialmediawidgets.files.wordpress.com/2014/03/02_facebook.png"
                                 style="padding-bottom: 10px; " width="35" height="35" />
                        </a>
                        <!--<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->
                        <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-md-offset-1">
                <div class="thumbnail">
                    <img data-src="holder.js/100%x200" alt="100%x200" src="experts/jeevitha.jpg" data-holder-rendered="true" style=" width: 100%; display: block;">
                    <div class="caption">
                        <h3>Jeevitha Reddy</h3>
                        <a href="https://www.facebook.com/jeevitha.reddy.10?fref=ts" >
                            <img title="Facebook" alt="Facebook" src="http://socialmediawidgets.files.wordpress.com/2014/03/02_facebook.png" 
                                style="padding-bottom: 10px; " width="35" height="35" />
                        </a>
                        <!--<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->
                        <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="clear: both"></div>