<!-- Embedded JavaScript -->
<div style="width: 100%; margin:auto;  padding-bottom: 50px; padding-top: 50px;">
    <div class="row featurerowdepth" style="width: 100%; margin-auto;">
        <div class="col-md-4 featurerow">
            <i class="fa fa-child fa-4x"></i>
            <h2>Fitness</h2>
            <p>We believe that a healthy you is always a better you. Practicing yoga daily, not only improves your fitness level but also increases your stamina and muscle strength, not to mention the ability to focus more on work.</p>
            <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div>
        <div class="col-md-4 featurerow">
            <i class="fa fa-home fa-4x"></i>
            <h2>Home Comfort</h2>
            <p class="featurerow">Our online capability lets you practice yoga anywhere you want without having to think about the extra time involved in commutation or preparation. Thus, saving a lot of your time.</p>
            <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div>
        <div class="col-md-4  featurerow">
            <i class="fa fa-group fa-4x"></i>
            <h2>Engagement</h2>
            <p>We know, how for some of us, gym can be such a boring experience. Hence, we have put in extra care to make sure our experts keep you engaged for the entirety of the session and help you adhere to the routine.</p>
            <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div>
    </div>
</div>