<!-- Embedded JavaScript -->
<h4>Yogaindoors 2014</h4>
<div class="footerdiv">
    <div class="row" style="margin: auto;">
        <a href="https://twitter.com/yogaindoors">
            <img title="Twitter" alt="Twitter" src="http://socialmediawidgets.files.wordpress.com/2014/03/01_twitter.png" width="35" height="35" />
        </a>
        <a href="https://www.facebook.com/yogaindoors" style="margin-left: 20px;">
            <img title="Facebook" alt="Facebook" src="http://socialmediawidgets.files.wordpress.com/2014/03/02_facebook.png" width="35" height="35" />
        </a>
    </div>
    <br>
    <div class="row text-center" style="margin: auto;">
        <div class="col-md-2 col-md-offset-4 text-right">
           <a href="/refundpolicy" target="_blank" style="text-decoration:underline;">Refund Policy</a> 
        </div>
        <div class="col-md-2 text-left">
            <a href="/privacypolicy" target="_blank" style="text-decoration: underline;">Privacy Policy</a>
        </div>
    </div>
</div>