<!-- Embedded JavaScript -->
<nav>
    <ul class="nav masthead-nav">
        <li class="active"><a id="home" href="#" 
            onClick="_gaq.push(['_trackEvent', 'Navbar', 'Home']);">Home</a></li>
        <li><a id="featurenav" href="#howitworks" onClick="_gaq.push(['_trackEvent', 'Navbar', 'How it works?']);">How it works?</a></li>
        <li><a id="expertsnav" href="#expertlist" 
            onClick="_gaq.push(['_trackEvent', 'Navbar', 'Experts']);">Experts</a></li>
        <li><a id="careersnav" href="#careersModal" 
            data-toggle="modal" data-target="#careersModal" onClick="_gaq.push(['_trackEvent', 'Navbar', 'Careers']);">Careers</a></li>
        <li><a id="contactnav" href="#faq" 
            onClick="_gaq.push(['_trackEvent', 'Navbar', 'FAQ']);">FAQ</a></li>
    </ul>
</nav>