<!-- head.ejs -->
<meta charset="utf-8" />
<title>Yogaindoors</title>
    <!--Code for favicons 
                                                                                    ======================================================================
                                                                                    -->
<link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-touch-icon-76x76.png">
<link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="favicons/favicon-32x32.png" sizes="32x32">
<meta name="msapplication-TileColor" content="#da532c">


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<!--<link href='http://fonts.googleapis.com/css?family=Cinzel:700' rel='stylesheet' type='text/css'>-->
<link href="http://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" type="text/css">
<!--Font  awesome css -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<link href="css/cover.css" rel="stylesheet">
<link href="css/howitworkstimeline.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://bitbucket.org/pellepim/jstimezonedetect/downloads/jstz-1.0.4.min.js"></script>
<script src="http://momentjs.com/downloads/moment.min.js"></script>
<script src="http://momentjs.com/downloads/moment-timezone-with-data.min.js"></script>

<script type="text/javascript">
    function getTimeZone() {
        var tz = jstz.determine();
        var timeZone = moment.tz.zone(tz.name()).abbr(new Date().getTime());
        return timeZone;
    }
    function changeActive(element) {
        $("li.active").removeClass("active");
        $(element).closest('li').addClass("active");
    }
    function setInputValue() {
        var submitVal = getTimeZone();
        $('#scheduleform').append("<input type='hidden' name='schedule[locale]' value='" +
                 submitVal + "' />");
        return true;
    }
</script>
