<!-- Embedded JavaScript -->
<div class="container">
    <ul class="timeline">
        <li>
          <div class="timeline-badge"><i class="fa fa-user fa-2x"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Step 1</h4>
            </div>
            <div class="timeline-body">
              <p>Be sure to have microphone, web camera and good internet connectivity as it is a interactive, live, online  session.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="fa fa-user fa-2x"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Step 2</h4>
            </div>
            <div class="timeline-body">
              <p>Before booking a session, consider the date from when you would be available. You would need that to provide the start date 
                  while booking for 1 session or a monthly session. For 1 session this is the date when we would conduct the session for you.
                  For monthly sessions, this date is from when your 30 day window starts.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger"><i class="fa fa-yahoo fa-2x"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Step 3</h4>
            </div>
            <div class="timeline-body">
              <p> 
                 Once you enroll, we would provide you the details of the session, link to join and send you reminders about the same.
               </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge info"><i class="fa fa-user fa-2x"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Step 4</h4>
            </div>
            <div class="timeline-body">
              <p>On the session date, open the link,allow access to web-camera and microphone and join the room for your yoga class. 
                  For monthly sessions, the session will be conducted for consecutive days but you may inform us to reschedule the session in case of 
             your unavailability</p>
            </div>
          </div>
        </li>
    </ul>
    <p class="lead"> For questions please call us <span class="label label-danger">+91 9591842107 / +1 667-207-2466</span>  or email us
        <span class="label label-primary">subscription@yogaindoors.com</span>
    </p>
    
</div>