<!--the content file to show the entire page.-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./indexhead %>
    </head>

    <body>
        <p class="callus">For enquires call us @+91 9591842107 / +1 667-207-2466</p>
        <div class="site-wrapper">

            <div class="site-wrapper-inner">

                <div class="cover-container">

                    <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand"><img src="logo.png" style="margin-top: -20px" alt="yogaindoors" /></h3>
                            <% include ./header %>
                        </div>
                    </div>

                    <div class="inner cover">
                        <h1 id="tagline" class="cover-heading">
                            Practice the ancient art of Yoga through our online, interactive sessions.</h1>
                        <div class="row">
                            <!--<a href="#featurelist" class="btn btn-lg btn-default col-lg-4">Learn more</a>-->
                            <a id="callofaction" href="#session-time" onClick="_gaq.push(['_trackEvent', 'Callofaction', 'TryNow']);"
                            class="btn btn-primary col-lg-3">TRY NOW</a>
                            <a href="#qExpertModal" data-toggle="modal" onClick="_gaq.push(['_trackEvent', 'Callofaction', 'HealthConcern']);"
                            data-target="#qExpertModal" class="btn btn-primary col-lg-5 callexpert">HEALTH CONCERN? ASK EXPERT</a>
                        </div>

            </p>
                    </div>


                </div>

            </div>

        </div>
        
        <div class="page-header" id="paymoney">
            <h1> Sessions </h1>
        </div>
        <% include paymoney%>
        <div class="page-header" id="howitworks">
            <h1> How it works ?</h1>
        </div>
        <% include ./howitworkstimeline%>
        <div class="page-header" id="featurelist">
            <h1> Why Us?</h1><h3>Because we strive hard to provide you</h3>
        </div>
        <% include ./features%>
        <div class="page-header" id="expertlist">
            <h1> Our Experts</h1>
        </div>

        <% include ./experts%>

         <div class="page-header" id="faq">
            <h1> FAQ </h1>
        </div>
        <div style="width: 80%; margin: auto;">
            <% include ./faqsection%>
        </div>
        


        <% include ./modals/schedulemodal %>
        <% include ./modals/contactusmodal %>
        <% include ./modals/askexpertmodal %>
        <% include ./modals/booksession %>
        <% include ./modals/subscribermodal%>
        <% include ./modals/careersmodal %>
        <% include ./modals/alertmodal %>


        <div class="backtotop">
            <a href="#"><i class="fa fa-arrow-circle-up fa-3x"></i></a>
        </div>
        <hr class="featurette-divider">
        <footer class="footer">
            <% include ./footer %>
        </footer>

                    <!-- Bootstrap core JavaScript
                                                                                                                                                                                                                                                                                                                                                                                                                ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <% include ./timezone%>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
         <!-- JQuery shorten content plugin -->
        <script type="text/javascript" src="http://viralpatel.net/blogs/demo/jquery/jquery.shorten.1.0.js"></script>
        <script type="text/javascript">
            var appInsights=window.appInsights||function(config){
                function s(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},r=document,f=window,e="script",o=r.createElement(e),i,u;for(o.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",r.getElementsByTagName(e)[0].parentNode.appendChild(o),t.cookie=r.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)s("track"+i.pop());return config.disableExceptionTracking||(i="onerror",s("_"+i),u=f[i],f[i]=function(config,r,f,e,o){var s=u&&u(config,r,f,e,o);return s!==!0&&t["_"+i](config,r,f,e,o),s}),t
            }({
                instrumentationKey:"78af39e9-83eb-43fa-a9c0-ffdb921c217b"
            });
            
            window.appInsights=appInsights;
            appInsights.trackPageView();
        </script>
        <script>
                    jQuery(document).ready(function () {
                        $('#scheduleModal').on('show.bs.modal', function (event) {
                            document.getElementById('timeZoneValue').value = getTimeZone();
                        });
                        $('.time-cell input[type="radio"]').click(function () {
                            sessionData = $(this).attr('value');
                            var arr = sessionData.split(' ');
            
                            document.getElementById('sessionDetails').innerHTML = sessionData;
                            document.getElementById('booknowbtn').classList.remove('disabled');
                            document.getElementById('sessionTime').value = arr[0] + " " + arr[1];
                            document.getElementById('sessionLocale').value = arr[2];
                        });
                        $('#saturdaybook').click(function () {
                            document.getElementById('sessionDetails').innerHTML = "7AM-8AM Saturday 13 Decemeber 2014";
                            document.getElementById('sessionTime').value = "13 Dec Saturday 7AM-8AM";
                            document.getElementById('sessionLocale').value = "IST";
                            
                        });
                        $(".profile-content").shorten(
                                {
                                    "showChars" : 400,
                                    "moreText"  : "See More",
                                    "lessText"  : "Less"
                                }
                        );
                    });
        </script>
        <!-- begin olark code -->
        <script data-cfasync="false" type="text/javascript">
            /*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
            f[z]=function(){
            (a.s=a.s||[]).push(arguments)};var a=f[z]._={
            },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
            f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
            0:+new Date};a.P=function(u){
            a.p[u]=new Date-a.p[0]};function s(){
            a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
            hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
            return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
            b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
            b.contentWindow[g].open()}catch(w){
            c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
            var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
            b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
            loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
            /* custom configuration goes here (www.olark.com/documentation) */
            olark.identify('7251-313-10-1309');/*]]>*/
        </script>
        <noscript><a href="https://www.olark.com/site/7251-313-10-1309/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
        <!-- end olark code -->
    </body>
</html>
