<!-- Embedded JavaScript -->
<html lang="en">
    <head>
        <% include ./indexhead %>
    </head>

    <body>
        <div class="panel panel-primary text-left" style="margin: auto; width: 80%; color: #000;">
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Privacy Policy</h4>
                <div class="input-group">
                    <div class="input-group-btn">
                        <a href="http://yogaindoors.com" class="btn btn-primary pull-right homebutton"><i class="glyphicon glyphicon-home"></i></a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <h4>Personal identification information</h4>
We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site,
       register on the site, place an order, subscribe to the newsletter, fill out a form, and in connection with other activities, services,
      features or resources we make available on our Site. Users may be asked for, as appropriate, name, email address, phone number.
      Users may, however, visit our Site anonymously. We will collect personal identification information from Users only if they
      voluntarily submit such information to us. Users can always refuse to supply personally identification information,
      except that it may prevent them from engaging in certain Site related activities. <br>
                <h4>Non-personal identification information </h4>
We may collect non-personal identification information about Users whenever they interact with our Site.
      Non-personal identification information may include the browser name, the type of computer and technical information about Users
      means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar
                information. <br>
                <h4>Web browser cookies </h4>
Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes
      and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies
      are being sent. If they do so, note that some parts of the Site may not function properly. <br>
                <h4>How we use collected information</h4>
Yoga Indoors may collect and use Users personal information for the following purposes: <br>
                <ul class="list-group">
                    <li class="list-group-item">To improve customer service </li>
                    <li class="list-group-item">Information you provide helps us respond to your customer service requests and
      support needs more efficiently.</li>
                    <li class="list-group-item">To personalize user experience</li>
                    <li class="list-group-item">We may use information in the aggregate to understand how our
      Users as a group use the services and resources provided on our Site.</li>
                    <li class="list-group-item">To send periodic emails</li>
                    <li class="list-group-item">We may use the email address to send User information and updates pertaining to their order. It may also be used to respond to their inquiries,
       questions, and/or other requests. If User decides to opt-in to our mailing list, they will receive emails that may include company news,
       updates, related product or service information, etc. If at any time the User would like to unsubscribe from receiving future emails,
      they may do so by contacting us via our Site</li>
                </ul>
                <h4>How we protect your information</h4>
      We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access,
       alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored
      on our Site. <br>
                <h4>Sharing your personal information</h4>
We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information
      not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and
      advertisers for the purposes outlined above.We may use third party service providers to help us operate our business and the Site or
      administer activities on our behalf, such as sending out newsletters or surveys. We may share your information with these third parties
      for those limited purposes provided that you have given us your permission. <br>
                <h4>Changes to this privacy policy</h4>
Yoga Indoors has the discretion to update this privacy policy at any time. When we do, we will post a notification on the main page of our
      Site, revise the updated date at the bottom of this page and send you an email. We encourage Users to frequently check this page for
      any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it
      is your responsibility to review this privacy policy periodically and become aware of modifications.<br>
Your acceptance of these terms<br>
By using this Site, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our Site.
      Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes. <br>
                <h4>Contacting us</h4>
If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us at:
                <address>
                    <strong>Yoga Indoors, Yogaindoors.com</strong><br>
  Block-B, Flat-2H Shyam Lake Garden, <br>
  202, Jessore Road <br>
  Kolkata, West Bengal-700089<br>
                    <abbr title="Phone">P:</abbr> +919591842107/ +1 667-207-2466<br>
                    <abbr title="Mail">M:</abbr> udit@yogaindoors.com
                </address>
This document was last updated on December 17, 2014
            </div>
        </div>
    </body>
</html>
















