<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./defaulthead %>
    </head>
    <body style="color: #000">
        <div class="jumbotron" style="margin: 50px; padding: 50px;">

            <form class="form-horizontal" role="form" action="/qExpertSession" method="post" >
                <div class="form-group">
                    <label class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <label class="col-sm-2 control-label"><%= email%></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Full Name</label>
                    <div class="col-sm-10">
                        <label class="col-sm-2 control-label"><%= fullname%></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Question</label>
                    <div class="col-sm-10 well">
                        <label class="col-sm-10 control-label" style="text-align: left"><%= question%></label>
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-sm-2 control-label">Response</label>
                    <div class="col-sm-10 well">
                        <textarea class="form-control" name="qExpert[response]" rows="6"></textarea>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="hidden" value="<%=id%>" name="qExpert[id]">
                        <input type="hidden" value="Swapna" name="qExpert[expert]">
                        <button type="submit" class="btn btn-primary">Send Response</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
