<!-- Embedded JavaScript -->
<html lang="en">
    <head>
        <% include ./indexhead %>
    </head>
    <body>
        <div class="panel panel-primary text-left" style="line-height: 200%; margin: auto; width: 80%; color: #000;">
            <div class="panel-heading">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">Refund policy</h3>
                <div class="input-group">
                    <div class="input-group-btn">
                        <a href="http://yogaindoors.com" class="btn btn-primary pull-right homebutton"><i class="glyphicon glyphicon-home"></i></a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
    We offer refunds if you are unsatisfied by our service. Please ask for a refund within the stipulated time to <span class="label label-primary">
                subscription@yogaindoors.com.</span><br>
We will not entertain any requests for refund <span class="label label-danger">3 days after the session date for Daily sessions</span> and 
               <span class="label label-danger"> 7 days during the session days for Monthly session. </span><br>
To be eligible for a refund, you  must raise the concern within the time frame mentioned above.<br>
In case you fail to attend the session on your session date, we are not liable to refund the money.<br>
Refunds (if applicable) would be based on your experience of the session and also any of the issues that sprang up in the session.<br>
If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or 
                original method of payment, within a certain amount of days.<br>
<h5>Late or missing refunds (if applicable)</h5>
If you haven’t received a refund yet, first check your bank account again.
Then contact your credit card company, it may take some time before your refund is officially posted.
Next contact your bank. There is often some processing time before a refund is posted.
If you’ve done all of this and you still have not received your refund yet, please contact us at
<span class="label label-primary">subscription@yogaindoors.com</span>
            </div>
        </div>
    </body>
</html>



