<!-- Embedded JavaScript -->
<script src="./timezone/jstz-1.0.4.min.js"></script>
<script src="http://momentjs.com/downloads/moment.min.js"></script>
<script src="http://momentjs.com/downloads/moment-timezone-with-data.min.js"></script>

<script type="text/javascript">
    function getTimeZone() {
        var tz = jstz.determine();
        var timeZone = moment.tz.zone(tz.name()).abbr(new Date().getTime());
        return timeZone;
    }
    function changeActive(element) {
        $("li.active").removeClass("active");
        $(element).closest('li').addClass("active");
    }
    function setInputValue() {
        var submitVal = getTimeZone();
        $('#scheduleform').append("<input type='hidden' name='schedule[locale]' value='" +
                 submitVal + "' />");
        return true;
    }
    var urlVal = document.URL;
    if (urlVal.indexOf("qExpert") > -1) {
        //alert("Thank you for the message!");
    }
</script>