/*
 * Globals
 */

/* Links */

/* Custom default button */
.btn-default, .btn-default:hover, .btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


/*
 * Base structure
 */

html, body {
    height: 100%;
    background-color: #333;
}

body {
    color: #fff;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
    position: relative;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    background: url(./../coverpage.jpg);
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top center;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}

.masthead-nav > li + li {
    margin-left: 20px;
}

.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    /*color: #fff; /* IE8 proofing */
    /*color: rgba(255,255,255,.75);*/
    color: rgba(0,0,0,.75);
    color: #000;
    text-shadow: none;
    border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover, .masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
}

.masthead-nav > .active > a, .masthead-nav > .active > a:hover, .masthead-nav > .active > a:focus {
    /*color: #fff;*/
    color: rgba(0,0,0,.75);
    color: #000;
    text-shadow: none;
    border-bottom-color: #000;
    outline: none;
    /*border-bottom-color: #fff;*/
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }

    .masthead-nav {
        float: right;
    }
}


/*
 * Cover
 */

.cover {
    padding: 0 20px;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: absolute;
        top: 0;
    }

    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead, .mastfoot, .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

.featurerow {
    padding-left: 20px;
    padding-right: 20px;
}

#tagline {
    font-size: 40px;
    color: #000;
    text-shadow: none;
    padding-bottom: 25px;
}

@media (min-width: 992px) {
    .masthead, .mastfoot, .cover-container {
        width: 700px;
    }
}

.modal-header {
    background-color: #ff9900;
}

#scheduleinfo {
    font: 24px;
}

#callofaction {
    float: none;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background: none;
    border: none;
    background-color: rgba(241, 30, 30, 0.7);
}

#callofaction:hover {
    background-color: rgba(241, 30, 30, 1);
}

.callexpert {
    float: none;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background: none;
    border: none;
    background-color: rgba(255, 153, 0,0.7);
}

.callexpert:hover , .callexpert:focus {
    background-color: rgba(255, 153, 0, 1) !important;
    outline: none;
}

#callofaction2 {
    float: none;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background: none;
    border: none;
    background-color: rgba(241, 30, 30, 0.7);
}

#callofaction2:hover{
    background-color: rgba(241, 30, 30, 1);
}

.demotabletype {
    margin: auto;
    width: 80%;
    border-radius: 4px;
}

.featurerowdepth {
    /*padding: 50px;*/
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}


.backtotop {
    position: fixed;
    bottom: 50px;
    right: 0px;
    float: none;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background: none;
    border: none;
}

.backtotop i {
    color: rgba(51, 122, 183, 0.89);
}

/*
    CSS for the demo table
   */
.tablecss {
    margin: 50px auto;
    width: 80%;
}
.schedule-info tr {
    min-height: 100px;
}

.schedule-info tr td {
    width: 25%;
    min-height: 200px;
    border: 1px solid grey;
}

.schedule-info .time-cell:nth-child(odd) {
    /*background-color: white;*/
}

.schedule-info .time-cell:nth-child(even) {
    /*background-color: #d9edf7;*/
}

.expertprofile {
    width: 100%;
    margin: auto;
    float: none;
}

.expertprofile .row  {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.footerdiv {
    padding-bottom: 40px;
    padding-top: 20px;
}

.expertprofile .caption {
    padding: 0px !important;
}

#saturdaybook {
    float: none;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background: none;
    border: none;
    background-color: rgba(241, 30, 30, 0.7);
}

#saturdaybook:hover {
    background-color: rgba(241, 30, 30, 1);
}

.positive-action {
    float: none;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background: none;
    border: none;
    background-color: rgba(36, 85, 128, 0.7);
}

.positive-action:hover{
     background-color: rgba(36, 85, 128, 1);
}

.negative-action {
    float: none;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background: none;
    border: none;
    background-color: rgba(224, 224, 176, .7);
}

.negative-action:hover{
     background-color: rgba(224, 224, 176, 1);
}

.profile-content {
    text-align: left;
    font-size: 18px;
}

.profile-content a {
    color: #337ab7;
}
.profile-content a:hover {
    color: #2e6da4;
}
.profile-content h4{
    font-size: 24px;
    color: #d9534f;
}

.payment-panel {
    color: #d9534f;
    font-size: 18px;
    margin: auto;
    width: 80%;
}

.homebutton {
    padding-top: 10px;
    padding-bottom: 10px;
    background: none;
    border: none;
    background-color: rgba(241, 30, 30, 0.7); 
}

.paybtn-css {
    float: none;
    background: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #5cb85c;
}

.paybtn-css a:hover {
     background-color: #419641;
}

.session-header {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 30px;
  color: rgba(219,26,26,1);
  text-decoration: normal;
  text-align: center;
  text-shadow: 0 0 40px #ff00de , 0 0 100px #ff00de ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.session-header:hover {
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}

.callus{
   position: absolute;
   top: 10px;
   left: 10px;
   color: rgba(241, 30, 30, 0.7);
}
